.btnFavorite {
    width: min-content;
    display: flex;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--color-primary-hover);
        outline-offset: 2px;
    }

    &:active {
        transform: scale(0.98)
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}