.resBusqueda {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    transition: background 0.2s ease;
    border-top: 1px solid var(--color-border);

    &:hover {
        background-color: #061627;
    }

    li {
        display: block;
        width: 100%;
    }

    article {
        display: flex;
        justify-content: space-between;

        &>div {
            padding: 0 0.5rem;
            align-items: center;
        }
    }

    div a {
        color: var(--color-text-primary);
        text-decoration: none;
    }

    h3 {
        font-weight: 500;
        display: inline-block;
        transition: transform 0.1s ease;

        &:hover {
            transform: scale(1.05);
        }

    }
}

.firstP {
    color: var(--color-text-muted);
    padding-bottom: 1rem;
    padding-top: 0.3rem;
    display: block;
}

.secondP {
    color: #cad4e2;
}

.btnsJobCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 850px) {
    .resBusqueda {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}