.textPrincipal {
    text-align: center;
}

.contactCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.formContact {
    border: 1px solid var(--color-border);
    padding: 4rem;
    margin: 2rem;
    min-width: 1200px;
    min-height: 30rem;
    border-radius: 1rem;
    box-shadow: 9px 9px 15px -3px var(--color-shadow);
    list-style: none;

    &>form {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 2rem;
    }
}

.formLabels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.inputFormContact {
    display: flex;
    align-items: center;
    background-color: var(--color-input-bg);
    border-radius: 0.5rem;
    border: 2px solid var(--color-border);
    box-shadow: 0 10px 15px -3px var(--color-shadow);
    padding: 0.5rem;
    gap: 0.5rem;
    transition: border-color 0.2s ease;
    height: 3rem;

    &:focus-within {
        border-color: var(--color-primary-hover);
    }

    &>input {
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        color: var(--color-text-primary);
        padding: 5px;
        font-size: 1rem;
        font-family: inherit;

    }
}

.textAreaFormContact {
    height: 100%;

    &>textarea {
        min-width: 100%;
        min-height: 100%;
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        color: var(--color-text-primary);
        padding: 5px;
        font-size: 1rem;
        font-family: inherit;
    }
}

.sectionTextArea {
    height: 100%;
}

.btnEnviar {
    display: flex;
    justify-content: center;
    align-items: center;

    &>button {
        width: 40%;
    }
}

.errorContainer {
    border-color: #d40505
}

.successContainer {
    border-color: #00cc00
}

.errorMessage {
    margin-top: 10px;

    &>p {
        margin-left: 0.8rem;
        color: #d40505;
    }
}