.paginacion {

    ul {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
        list-style: none;

        li {
            display: flex;
            justify-content: center;
            width: 40px;
            height: 40px;
            align-items: center;
            border-radius: 5px;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: var(--color-primary-hover);

                a {
                    color: #fff;
                }

                a svg {
                    stroke: #fff;
                }
            }

            a {
                color: var(--color-text-secondary);
                font-weight: 500;
                text-decoration: none;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                align-items: center;
            }
        }
    }
}

.pagActive {
    background-color: var(--color-primary-hover);
    pointer-events: none;
}