.env_spinner {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    border-top: 4px solid #2563eb;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}